.card {
  background-color: #F5E5FC;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.15s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #14080E;
}

.card__image {
  height: calc(100% - 1.5rem);
  width: 100%;
  object-fit: cover;
}

.card__description {}

@media (hover: hover) {
  .card:hover {
    box-shadow: 0 0 0.5rem #14080E;
  }
}