.game-window {
  padding: 1rem;
}

.game-window__score-block {}

.game-window__score {}

.game-window__game-field {
  display: grid;
  gap: 1rem;
  justify-items: center;

  margin: 0 auto;
  margin-top: 1rem;
}

.easy {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  max-width: 600px;
}

.medium {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 200px);
  max-width: 1000px;
}

.hard {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 200px);
  max-width: 1000px;
}