.game-window {
  padding: 1rem;
}

.game-window__score-block {}

.game-window__score {}

.game-window__game-field {
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-items: center;

  margin: 0 auto;
  margin-top: 1rem;
}

.easy {
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
}

.medium {
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 200px);
}

.hard {
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 200px);
}

@media (min-width: 761px) and (max-width: 1000px) {
  .medium {
    grid-template-columns: repeat(5, calc(100vw / 5 - 2rem));
    grid-template-rows: repeat(2, calc(100vw / 5 - 2rem));
  }

  .hard {
    grid-template-columns: repeat(3, calc(100vw / 3 - 2rem));
    grid-template-rows: repeat(5, calc(100vw / 3 - 2rem));
  }
}

@media (max-width: 760px) {
  .easy {
    grid-template-columns: repeat(2, calc(100vw / 2 - 2rem));
    grid-template-rows: repeat(3, calc(100vw / 2 - 2rem));
  }

  .medium {
    grid-template-columns: repeat(2, calc(100vw / 2 - 2rem));
    grid-template-rows: repeat(5, calc(100vw / 2 - 2rem));
  }

  .hard {
    grid-template-columns: repeat(3, calc(100vw / 3 - 2rem));
    grid-template-rows: repeat(5, calc(100vw / 3 - 2rem));
  }
}