@import "./reset.css";
@import "./fonts.css";

body {
  background-color: #FFCE72;
  color: #14080E;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

button {
  appearance: none;
  cursor: pointer;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}